<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Team solar system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap_dark/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='custom/css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<!--Libraries-->
<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<!--Custom scripts-->
<script src="{{ url_for('static', filename='custom/css/set_scanner_id.js') }}"></script>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
        <a class="navbar-brand" href="/">
            <i class="fas fa-sun sun_easter_egg"></i>
            Solar system</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="texts.php">Planet inspector</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="newgitrepo.php">Some other stuff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guides.php">Bla</a>
                </li>
            </ul>

            <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#registerModal">
                Register
            </button>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="content main">
        {% block body %}

        {% endblock %}

    </div>
</main>
<footer class="footer text-muted">
    <div class="container">
        <span>Made by: Christoffer and Martin</span>
    </div>
</footer>
</body>
</html>