<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
</head>
<body>
    <button onclick="append_update()">Add Number</button>
    <button onclick="remove_update()">Remove Number</button>
    <button onclick="getSession()">Get Session</button>
    <button onclick="deleteSession()">Delete Session</button>
    <button onclick="setSession()">Set Session</button>
    <input type="text" id="session"/>
    <div id="javascript">
        something
    </div>
    <div id="json"></div>
    <script>
        let number = 0;
        function append_update(){
            number++;
            document.getElementById("javascript").innerHTML=number;
        }
        function remove_update(){
            number--;
            document.getElementById("javascript").innerHTML=number;
        }
        //document.writeln(jQuery.get("http://127.0.0.1:5000/getsession"));
        //console.log(jQuery.get("http://127.0.0.1:5000/session"));

        function getSession(){
            //console.log(getSession);
        $.get("http://127.0.0.1:5000/session",
          function(data){
            printSessionStatus(data);
            // document.getElementById("json").innerHTML = (JSON.stringify(data));
          } 
        );
        }
        function deleteSession(){
            console.log("Test");
            $.ajax({
                url: 'http://127.0.0.1:5000/session',
                method: 'DELETE',
                success: function(data){
                    printSessionStatus(data)
                }
            });
            
        }

        function setSession(){
            console.log("set Session");
            if(document.getElementById("session").value.length != 0)
            {
                console.log(document.getElementById("session").value);
            
            
            $.ajax({
                url: 'http://127.0.0.1:5000/session',
                method: 'POST',
                headers: {
                    session: document.getElementById("session").value
                },
                success: function(data){
                    printSessionStatus(data);
                }
            })
            console.log("set Session Done");
        }
            
        }
        function printSessionStatus(json){

            document.getElementById("json").innerHTML = (JSON.stringify(json.session));
        }
        
        //$.get("http://127.0.0.1:5000/setsession",)


        var obj = jQuery.getJSON("http://127.0.0.1:5000/getsession");
        
        
    </script>
</body>
</html>