<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>
        
       function setSession(){
        //Checks if the there is data inserted into the input text variable
		if(document.getElementById("session").value.length != 0)
		{
			//Custom Ajax call to get data about the current session
			$.ajax({
				//The API endpoint to call.
				url: 'http://127.0.0.1:5000/session',
				//The Method type.
				method: 'POST',
				//Headers in the request
				headers: {
					session: document.getElementById("session").value
				},
				//If the ajax call is successfull this method will be called.
				success: function(data){
					printSessionStatus(data);
				}
		});
	}
	}
	// Shows the session on the screen
	function printSessionStatus(json){
		//fetches the document and writes into the html the data gotten in the field session
		document.getElementById("json").innerHTML = (JSON.stringify(json.session));
	}


    </script>
</body>
</html>