
{% extends "header.html" %}

{% block body %}

<p id="planet">
<button onclick="f1()">Start updating</button>

<script>    /* attach a submit handler to the form */
    function f1() {
        var t=setInterval(f,200);
    }

    function f() {
        var posting = $.post('http://10.108.169.133:5000/client_update?scanner_id=jphaia', {
        });

        posting.done(function (data) {
            document.getElementById("planet").innerHTML = data;
        });
    }
         function setSession(){
        //Checks if the there is data inserted into the input text variable
		if(document.getElementById("session").value.length != 0)
		{
			//Custom Ajax call to get data about the current session
			$.ajax({
				//The API endpoint to call.
				url: 'http://127.0.0.1:5000/session',
				//The Method type.
				method: 'POST',
				//Headers in the request
				headers: {
					session: document.getElementById("session").value
				},
				//If the ajax call is successfull this method will be called.
				success: function(data){
					printSessionStatus(data);
				}
		});
	}
	}
	// Shows the session on the screen
	function printSessionStatus(json){
		//fetches the document and writes into the html the data gotten in the field session
		document.getElementById("json").innerHTML = (JSON.stringify(json.session));
	}
</script>

{% endblock %}

