<!-- Modal -->
<div class="modal fade" id="sessionIDModal" tabindex="-1" role="dialog" aria-labelledby="sessionIDModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sessionIDModalLabel">Input scanner id</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">scanner id:</span>
        </div>
        <input autofocus id="set_session_id_modal" type="text" class="form-control" placeholder="Type or select" aria-label="Session id" aria-describedby="basic-addon1" list="hosting-plan" maxlength="6">
            <datalist id="hosting-plan"></datalist>
        </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='custom/js/set_scanner_id_modal.js') }}"></script>